* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
}

.canva-container-monthly,
.canva-container-sellers,
.canva-container-quarterly {
  background-color: #fff;
  padding: 10px 0;
}

.canva-container-monthly,
.canva-container-sellers {
  align-self: end;
}

.canva-container-monthly {
  grid-row: header-end;
  grid-column: 1;
}

.canva-container-sellers {
  grid-row: header-end;
  grid-column: 3;
}

.canva-container-quarterly {
  text-align: center;
  grid-row: middle-end;
  grid-column: 2;
  align-self: start;
}

.charts-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: [header-start] 10vh [header-end] 40vh [middle-start] 10vh [middle-end] 40vh;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.input-container {
  text-align: center;
  grid-row: header-start;
  grid-column: 2;
  align-self: center;
}
